@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  font-family: "Fredoka", sans-serif;
}

body{
  background-image: url('https://i.pinimg.com/736x/95/c9/f8/95c9f8cf066ed22eace5e174116127d8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @apply flex items-center justify-center min-h-screen

}

#root{
  width: 100%;
}


main{
  @apply bg-white/80 max-w-7xl w-full mx-auto my-auto rounded-2xl p-4 grid grid-cols-10 gap-5 h-[90vh];
}

@media (max-width: 1280px){
  #root{
    padding: 0 15px;
  }
}
// .item .ava{
  
// }
